body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header, .hero, .footer {
    background-color: #3b2244;
}

.quote {
    background-color: #DDE0FF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 220px;
}

.quote blockquote {
    margin-bottom: -5px;
}

blockquote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.quote p {
    font-size: 20px;
    font-weight: 700;
}

.hero p, li, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -5px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
}

button {
    background-color: #cc3a73;
    border-radius: 10px;
    padding: 8px 20px;
    color: #E5E7EB;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header li {
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer {
    margin: auto;
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 0;
    gap: 20px;
    flex-grow: 0;
}

.left-hero {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-shrink: 1;
    margin-left: 100px
}

.right-hero {
    display: flex;
    width: 50%;
}

.right-hero img {
    max-width: 80%;
    height: auto;
}

.info {
    padding: 50px 0;
}

.info-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.info img {
    max-width: 200px;
    height: auto;
}

.item-1, .item-2, .item-3, .item-4 {
    max-width: 200px;
    text-align: center;
}

.cta {
    background-color: #CC3A73;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex-basis: auto;
    margin: 100px 200px;
    padding: 20px 0;
    color: #E5E7EB;
}





